*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgb(8, 125, 108);
}
main{
    width: 26rem;
    height: 70vh;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.review{
    background: linear-gradient(to left bottom,rgb(172, 172, 245),pink,rgb(250, 170, 170));
    padding: 30px;
    margin-top: 30px;
    box-shadow: inset 4px 4px 15px -3px;
    border-radius: 10px;
    overflow: hidden;
    height: 65vh;
    border:4px solid white;
}
.title{
    font-size: 2rem;
    color: white;
    font-family: 'Algerian';
    text-shadow: 2px 2px 10px black;
}
.title .underline{
    width: 10rem;
    background: rgb(237, 247, 124);
    height: 5px;
    margin-left: 8rem;
    margin-top: 5px;
}
.review .img-container{
    margin-bottom: 2rem;
    height: 20vh;
}
.review .img-container img{
    width: 10rem;
    border-radius: 10rem;
    box-shadow: 5px 5px 10px -3px;
    border: 7px solid rgb(252, 253, 253);
    animation: all 1s;
    transform: translateX(0%);
    transition: 0.5s;
}

.button-container{
    margin-top: 2rem;
}
.prev-btn{
    font-size: 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 1rem;
}
.next-btn{
    font-size: 1.5rem;
    margin-left: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 1rem;
}
.random-btn{
    font-size: 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    background: rgb(246, 153, 172);
    padding: 0.3rem;
    border-radius: 10px;
    margin-top: 5px;
}